name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build and Push Docker Image
      uses: docker/build-and-push-action@v5
      with:
        context: .
        push: true

        tags: |
          ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ github.sha }},${{ secrets.DOCKER_USERNAME }}/hello-app:latest
        file: ./Dockerfile